@media (min-width: 1024px) and (orientation: landscape){
	html, body, body > section{
		width 100%
		height 100%
	}
	#header{
		nav{
			top: 89.5%;
			right: 13%;

			ul{
				li{
					a{
						padding: 20px 41px;
					}
				}
			}
		}
	}
	#inicio{
		div.logo{
			top: 140px;
			width: 900px;
			left: calc(33% - 225px);
		}
		section.portada{
			height: 100%;;
			.fluid_container {
				height: 100%;
			}
			#camera_wrap_4{
				div.camera_caption{
					padding: 40px 25% 140px 15%;
					div{
						h1{
							font-size: 55px;

						}
						p{
							font-size: 30px;

						}
					}
				}
			}
		}
		section.bottom_inicio{
			height 15%
		}
	}
	#nosotros{
		header,.list_header{
			padding: 105px 0 0;
			h2{
				font-size: 36px;
				line-height: normal;
			}
			h3{
				font-size: 36px;
				line-height: normal;
			}
		}
		section.content{
			width: 100%;
			position absolute
			bottom: 160px !important;
			right 0
			left 0
			article{
				width: 100%;
				margin-bottom: 5px;
				div.icons-help-service{
					margin-top: 18px;
					div.content-service{
						margin: 15px 35px;
						div.icon{
							img{
								width: 95px;
							}
						}
					}
				}
			}
		}
		footer{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
		section.list_content{
			.cerrar{
				right: 5%;
				top: 20%;
			}
			article{
				padding 30px 0 30px 0
			}
		}
	}
	#contactenos{
		article.content-top{
			h1{
				font-size: 48px;
				padding-top: 30px;
			}
			div.top-numbers{
				margin-bottom: 10px;
				ul{
					color: #0f72b7;
					font-size: 30px;
					.hvr-wobble-horizontal.{
						margin: 0px 10px;
					}
					li.separador{
						margin: 0 15px;
					}
				}
			}

			
			article.form{
				div.servicio-tecnico{
					margin: 90px -135px 0px 60px;
					a{
						figcaption{
							font-size: 18px;
							line-height: 20px;
						}
					}
				}
				
				div.redes-sociales{
					float: right;
					margin-top: 60px;
				}
			}
			
		}
		

		article.bottom{
			footer{
				background-color: #2a2a2a;
				height: 95px;
				margin-top: 25px;
				ul{
					li{
						margin: 30px 15px;
					}
				}
			}
		}
	}
	#registro{
		padding-top: 134px;
		article.block-descrip{
			width: 50%;
			header{
				font-size: 28px;
			}
			div.text-bottom{
				font-size: 20px;
			}
			div.transferencias-bancos{
				div.banco{
					display: inline-block;
					padding: 13px;
				}
			}
		}
		article.block-formulario{
			div.content-form{
				form{
					header{
						font-size: 22px;
						line-height: 28px;
					}
					
					div.inp{
						margin: 20px 0;
						input{
							height: 47px;
							width: 265px;
							text-align: center;
						}
					}
					
					.boton-registrarme, .boton-ingreso-facebook{
						a{
							img{
								width: 270px;
							}
						}
					}
				}
			}
		}
	}
}