@media screen and (min-width: 1300px){
	#header{
		nav{
			width: 75.2% !important;
			top: 88% !important;
			ul{
				li{
					a{
						padding: 22px 36px !important;
					}
				}
			}
		}
	}
	#registro{
		// padding-top: 40px;
		article.block-descrip{
			width: 70%;
		}
	}
	#inicio{
		div.logo{
			left: calc(35% - 225px);
			top: 55px;
		}
		
		section.portada{
			#camera_wrap_4{
				div.camera_caption{
					padding: 30px 18% 200px 16%;
					div{
						h1{
							font-size: 55px;
						}
						p{
							font-size: 45px;
						}

					}
				}
			}
		}
	}
	#nosotros{
		section.list_content{
			article{
				div.descripcion{
					p{
						line-height: 25px;
						font-size: 18px;
					}
				}
			}
		}
	}
	#contactenos{
		article.bottom{
			footer{
				margin-top: 75px !important;
			}
		}
	}
}