@media screen and (min-width: 1600px){
	#inicio{
		div.logo{
			top: 200px;
			width: 600px;
			left: calc(50% - 300px);
		}
		section.portada{
			height: 88%;
	        #camera_wrap_4{
				div.camera_caption{
					padding 40px 25% 180px 25%
				}
			}
		}
		section.bottom_inicio{
			height 12%
		}
	}
	#nosotros{
		header,.list_header{
			padding 80px 0
			h2{
				font-size 80px
			}
			h3{
				font-size 70px
			}
		}
		section.content{
			width 1250px
			bottom: 22%;
		}
		footer{
			bottom 50px
			h3{
				font-size 22px
			}
		}
	}
	#servicios{
		header{
			padding 80px 0
			h2{
				font-size 75px
			}
		}
		section.content{
			width 1450px
			bottom: 12%;
			article{
				padding: 0 110px;
				width 450px
				height 200px
				h3{
					font-size 28px
					margin-top 24%
				}
				p{
					bottom 25px
				}
			}
		}
	}
	#contactenos{
		.content{
			padding 100px 0 30px 0
			width 1200px
		}
		article.form{
			padding 0 70px
			p{
				font-size 18px
			}
			div.inp{
				input,textarea{
					margin-bottom 22px
					padding: 25px 5px 25px 30px;
				}
			}
		}
		div.distribuidores{
			padding 0 70px
			div.both{
				margin-bottom 80px
				h3{
					font-size 45px
				}
				p{
					font-size 18px
				}
				figure{
					width 200px
				}
				label{
					font-size 19px
				}
			}
		}
	}
}