@media screen and (min-width: 480px){
	#inicio{
		div.logo{
			top: 90px;
			width: 300px;
			left: calc(50% - 150px);
		}
		section.portada{
			.fluid_container {
	            height: 430px;
	        }
	        #camera_wrap_4{
				div.camera_caption{
					padding 40px 25% 100px 25%

				}
				.camera_pag{
					bottom: 20px;
				}
			}
		}
	}
	#nosotros{
		header,.list_header{
			padding 40px 0
		}
		section.content{
			article{
				width: 300px;
				height: auto;
				padding 0 30px
				h3{
					font-size 29px
					margin-top 50%
					&.second{
						margin-top 46%
					}
				}
			}
		}
	}
	#servicios{
		header{
			padding 40px 0
		}
		section.content{
			article{
				width 300px
				height 138px
				padding 0 60px
				h3{
					font-size 21px
					margin-top 20%
				}
				p{
					bottom 15px
				}
			}
		}
	}
	#productos{
		>header{
			h2{
				font-size 34px
			}
		}
		section.content{
			a.slider-arrow{
				&.sl-btn-l{
					left 40%
				}
				&.sl-btn-r{
					right 40%
				}
			}
		}
	}
}